body {
    background-color: rgb(250, 235, 215);
    padding: 30px 8%;
}
a {
    display: block;
    color: black;
}
a:hover {
    text-decoration: none;
}
#challenges, #ponder, #prove {
    background-color: rgb(255, 240, 220);
    border-radius: 15px;
    padding: 0px 15px 15px 45px;
    border: 2px solid black;
    margin-bottom: 25px;
}

@media screen and (min-width: 1000px) {
    body {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 45px;
    }
}