@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body {
    background-color: rgb(0, 153, 255);
    text-align: center;
    font-family: 'Quicksand', 'Courier New';
}
header, footer {
    color: white;
}
.menu-btn {
    background: none;
    border: none;
}
.bar1, .bar2, .bar3 {
    width: 30px;
    height: 4px;
    background-color: white;
    margin: 5px 0;
}
.bar1, .bar2, .bar3 {
    width: 30px;
    height: 4px;
    background-color: white;
    margin: 5px 0;
    transition: 0.3s;
}
.change .bar1 {
    transform: translate(0, 9.5px) rotate(-45deg);
}
.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -9.5px) rotate(45deg);
}
a {
    display: block;
    margin: 20px;
    text-decoration: underline;
}
.hide {
    display: none;
}
main {
    background-color: lightgray;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    row-gap: 40px;
    margin-top: 10px;
    padding-bottom: 20px;
}
img {
    width: 300px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border: 7px solid white;
    box-shadow: 5px 5px 10px black;
}
dialog {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border: 0;
    outline: 0;
    margin: 0;
}
dialog div {
    margin: 0 auto;
    position: relative;
    width: 75%;
    aspect-ratio: 1 / 1;
}
dialog img {
    width: 100%;
}
dialog button {
    position: absolute;
    top: 12px;
    right: 0px;
    z-index: 10;
    width: clamp(25px, 10%, 40px);
    aspect-ratio: 1 / 1;
    border: 1px solid gray;
    border-radius: 5px;
}
dialog button:hover {
    background-color: rgb(230, 230, 230);
}

@media screen and (min-width: 800px) {
    main {
        grid-template-columns: repeat(2, 350px);
        justify-content: center;
        column-gap: clamp(30px, 10%, 100px);
    }
    h2 {
        grid-area: 1 / span 2 / 1 / span 1;
    }
    dialog div {
        height: 93vh;
        width: auto;
    }
    dialog img {
        height: 100%;
        width: unset;
    }
    dialog button {
        top: 12px;
        right: 12px;
    }
}
@media screen and (min-width: 1200px) {
    main {
        grid-template-columns: repeat(3, 350px);
        column-gap: clamp(5px, 4%, 30px);
    }
    h2 {
        grid-area: 1 / span 3 / 1 / span 1;
    }
    header h3 {
        display: none;
    }
    nav a {
        display: unset;
        margin: 0px 1%;
    }
    .menu-btn {
        display: none;
    }
}